@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100%;
  width: 100%;
}

header {
  background-color: #4585ea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

a {
  display: flex;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  color: black !important;
  width: 171px;
  height: 34px;
  background-color: white !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

h2 {
  color: #4585ea !important;
}

.row {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 100px !important;
  height: 100%;
  width: 100%;
}

.menu-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  background-color: #4585ea;
  margin-top: 80px;
}

footer p {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

footer img {
  padding: 20px;
}
